@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Timmana&display=swap');

/*Este es mi hoja de estilo box model
main{
padding: 8rem 2rem;
border: 10px rgb(151, 2, 2) dotted;
margin: 5rem;
border-radius: 2rem;
}*/

/*EJEMPLOS DE CLASS Y ID 
.Parrafo {
 line-height: 1.5;
color: rgb(255, 98, 0); 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*/


/* Css grid mi reticula */
body {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 1rem;


}
header {
    background-color: rgb(205, 145, 145);
    grid-column-start: 1;
    grid-column-end: 4;
}
main{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1rem;
}

footer{
    background-color: rgb(205, 145, 145);
    padding: 1rem;  
    grid-column-start: 1;
    grid-column-end: 4;
}
/* Estilos tipograficos */
h1{
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    padding-bottom: 1rem;
}
p{
    font-family: "Mooli", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.8;
  padding-bottom: 1rem;
}
/* Estilo navegacion */

nav {
    display: flex;
    justify-content: space-between;

}
header li{
    list-style: none;
    display: inline-block;
    padding: 1rem 1rem;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
header a {
    text-decoration: none;
    color: #f0f8ff;
    transition: all .3s ease 0s;

}
header a:hover {
    color: rgb(223, 100, 13);
}

figcaption{
    font-family: "Timmana", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: .5rem;
  padding-bottom: 1rem 0;
}

pre, cite{
    font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2;

}

cite {
    font-size: 1rem;
}
/* Estilo imagenes */
img{

    object-fit: cover; 
    width: 50%;
}
#logo {
    width: 120PX;

}